* { box-sizing: border-box }
.container {
	@include clearfix();
	margin: 0 auto;
	position: relative;
	width:$container-width;
}

html {
	height:100%;
	width: 100%;
}
body {
	height:100%;
}

.wrapper {
		position: relative;
		min-height: 100%;
		min-width: 1010px;
		height: auto!important;
		overflow: hidden;
		&:after {
			content: "";
			height: $footer-height;
			display: block;
		}
}

ul {
	padding: 0;
}

/* section-about */
.product-about {
	margin-bottom: 52px;
		&__title {
			color: $main-text;
			font-size: 25px;
			font-family: "Elektra-bold";
			margin-bottom: 6px;
		}
		&__text {
			width: 100%;
			p {
				@include inlineblock();
				margin: 0;
				padding: 0;
				width: 33%;
				overflow: hidden;
				padding-right: 36px;
				color: $main-text;
				font-size: 15px;
				&:first-child {
					margin:0;
						}
			}
		}
}



