.footer {
		background: $bg-footer url(../img/footer-bg.png) repeat;
		margin-top: -$footer-height;
		color: white;
		min-width: 1020px;

		.container {
		padding-top: 60px;
		position: relative;
		min-height: 228px;
		overflow: hidden;
		}
}

.footer {
		&__logo {
			position: absolute;
			left: 0;
			top:100px;
				&-text {
					left: -9999px;
					position: absolute;
					top:0;
						}
				}
		&__app {
			margin-left: 120px;
			position: absolute;
			right:0;
			top:72px;
			&-item {
				@include inlineblock();
			}
		}

}
.footer-menu{
	&__list{
	margin-left: 261px;
	padding: 0;
	font-size: 15px;
		&-inner {
		margin: 0;
		padding: 0;
		}
	}
	&__item {
		@include inlineblock();
		margin-left: 72px;
		padding: 0;
			&-inner {
			margin-bottom: 6px;
			font-family: "Elektra";
			font-size: 15px;
			list-style: none;
			}
			&:first-child {
				margin-left: 0px;
			}
	}

}
.footer-menu__link {
			line-height: 17px;
			display: block;
			color:white;
			&:hover {
				text-decoration: none;
			}
		}

.footer-menu {
	&__title {
		font-family: "Elektra-bold";
		margin-bottom: 10px;
		font-size: 15px;
		}
}
.footer-socials__app {
	padding: 0;
	margin-bottom: 30px;
	&-item {
		@include inlineblock();
	}
}
.footer-socials__contacts {
	@include clearfix();
	padding: 0;
	margin: 0;
	&-item {
		margin-left: 7px;
		@include inlineblock();
					&:first-child {
					margin: 0;
					}
		}
}
.footer-socials {
	right:0;
	top: 65px;
	position: absolute;
}
.footer-socials__app-link {
		display: block;
		text-indent: -9999px;
	&--as {
		width: 90px;
		height: 32px;
		background: url(../img/app-store.png);
	}
	&--gp {
		width: 90px;
		height: 32px;
		background: url(../img/google-store.png);
	}
}
.footer-socials__contacts-link {
	display: block;
	text-indent: -9999px;
		&--vk {
		background: url(../img/sprite.png);
		width: 42px;
		height: 44px;
		background-position: -137px -5px;
		}
		&--fb {
		background: url(../img/sprite.png);
		width: 42px;
		height: 44px;
		background-position: -190px -5px;
		}
		&--tw {
		background: url(../img/sprite.png);
		width: 42px;
		height: 44px;
		background-position: -242px -5px;
		}
}
