* {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
}
.header {
	&__top {
		background:$header-top-bg;
		position: relative;
		.container {
		min-height: 41px;
	}
	}
	&__bottom {
		background:$header-bottom-bg;
		.container {
		min-height: 98px;
			}
	}
}
.header {
	&__socials {
		position: absolute;
		left:0;
		top:-8px;
			&-item {
				@include inlineblock();
			}
	}
	&__address {
		position: absolute;
		left: 38%;
		top: 25%;
		padding-left: 26px;
		font-family: "Elektra";
		font-size: 13px;
		color: white;
		text-align: center;
		line-height: 22px;
		text-decoration: none;
		background: url(../img/maps.png) 0 0 no-repeat;
	}
	&__phone {
		position: absolute;
		right:0;
		top:8px;
		text-decoration: none;
		&-code {
			font-family: "Elektra-bold";
			color: $main-blue;
			font-size: 16px;
		}
		&-number {
			font-size: 25px;
			line-height: 27px;
			color:white;
			font-family: "Elektra";
			margin-left: 7px;
		}
	}
}
.header__socials-link {
	width:26px;
	height: 26px;
	background:url(../img/sprite.png);
	list-style: none;
	display: block;
	text-indent: -9999px;
		&--vk {
		background-position: -5px -89px;
		}
		&--fb{
		background-position: -36px -89px;
		}
		&--tw{
		background-position: -67px -89px;
		}
}
.header__logo {
	display: block;
	&-img {
			position: absolute;
			top:24px;
			max-width: 197px;
			max-height: 57px;
	}
	&-text {
		position: absolute;
		top:0;
		left:-9999px;
	}
}
.header__search {
	position: absolute;
	left:259px;
	top:34px;
	@include clearfix();
			&-button {
			float: right;
			height: 35px;
			width: 80px;
			color:white;
			font-family: "Elektra-bold";
			background: $main-blue;
			border: 0 none;
			padding:0;
			margin:0;
			}
}
.header__search .header__search-input {
			box-sizing:border-box;
			margin: 0;
			padding:10px;
			font-size: 15px;
			line-height: 17px;
			height:35px;
			font-family: "Elektra";
			color:$main-text;
			width: 260px;
			@include placecolor($color: $placeholder);
			border: 1px solid $border-input;
			border-right: 0;
			float:left;
			outline: none;
			}
.header__nav {
		position: absolute;
		right:0;
		top:28px;
	@include clearfix();
		&-list {
			list-style: none;
			margin:0 ;
		}
		&-item {
			position: relative;
			display: inline-block;
			font-family: "Elektra";
			font-size: 13px;
			line-height: 13px;
		}
		&-link {
			color: $main-blue;
			padding:12px;
			&:hover {
				color:$header-menu-hover;

			}
		}
}
.header__nav-link--basket {
	padding:12px;
	box-sizing: border-box;
	width: 139px;
	padding: 16px 0 15px 50px;
	background-color: white;
	display: block;
	margin-left: 3px;
	color: #5C7B98;
	position: relative;
		&:after {
			content: '' ;
			width: 20px;
			height: 17px;
			background: url(../img/sprite.png);
			background-position: -105px -5px;
			position: absolute;
			top:12px;
			left:11px;
			}
			&:hover {
			}
 }

/* выплывашечка */
.header__basket-list {

	background:white;
	z-index: 3;
	position: absolute;
	margin:0;
	right:0;
	width:245px;
	border: 1px solid $border-input;
	list-style:none;
}
.header__basket-item {
		@include clearfix();
		@include transition(all, .3s , linear);
		&.grey {
			color: $basket-hover ;
		}
}

.header__basket-img {

		&--wrap {
			text-align: center;
			top: 13px;
			left: 9px;
			position: absolute;
			overflow: hidden;
			float: left;
			height: 50px;
			width:60px;
		}
}
.header__basket-link {
	display: block;
	position: relative;
	@include clearfix();
}
.basket__text {
		display: block;
		font-size: 15px;
		font-family: "Elektra";
		color: $main-blue;
		text-decoration: underline;
		width: 150px;
		height: 60px;
		display: table-cell;
		vertical-align: middle;
		font-size: 13px;
		line-height: 15px;
		&:hover {
			color:$basket-color-hover;
		}
		&-wrap {
			float:right;
			width:160px;
		}
}