.navigation {
	background:$nav-grey;
	box-shadow: 0 1px 1px rgba(0,0,0,.15);
	margin-bottom: 20px;
		.container {
			min-height: 38px;
		}
		&__list {
			margin: 0;
			padding: 0;
			overflow: hidden;
			position: relative;
			width:100%;
				&:before {
				content: "";
				display: block;
				z-index: 1;
				position: absolute;
				top: 50%;
				margin-top: -22px;
				border-top: 22px solid transparent;
				border-bottom: 24px solid transparent;
				border-left: 15px solid;
				left: 0;
				border-left-color: $nav-grey;
				}
		}

		&__item {
			float:left;

		}
		&__link {
			color: $main-text;
			font-size: 15px;
			font-family: "Elektra";
			text-decoration: none;
			display: block;
			padding: .7em .7em .7em 1.75em;
			float: left;
			color: #5c7b98;
			position: relative;
			text-shadow: 0 1px 0 rgba(255,255,255,.5);
			background-color: #f7f7f7;
			@include transition(all, .3s);

		&:hover {
		background: #dce6f0;
	}

	&:after, &:before {
		content: "";
		position: absolute;
		top: 50%;
		margin-top: -22px;
		border-top: 22px solid transparent;
		border-bottom: 24px solid transparent;
		border-left: 15px solid;
		right: -15px;
	}

	&:after {
		z-index: 2;
		border-left-color: $nav-grey;
		@include transition(all, .3s);
	}

	&:before {
		border-left-color: $nav-hover;
		right: -16px;
		z-index: 1;
	}

	&:hover:after {
		border-left-color: $nav-hover;
	}
		}
}
.navigation__link--active ,.navigation__link--active:hover {
		background:$main-blue;
		color: white;
		&:after {
		border-left-color: $main-blue;
		}
}