.product {
		margin-bottom: 60px;
		.container {
			@include clearfix();
		}
		&__img {
			float: left;
			width:305px;
		}
}
.product__slidershow-photo {
	position: relative;
	height: 250px;
	width:305px;
	margin-bottom: 10px;
	.product__slidershow-img {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			margin: auto;
	}
.product__slidershow-slider {
	@include clearfix();
	position: relative;
}
}
.product__slider-list {
	width: 245px;
	overflow: hidden;
	height: 80px;
	margin: 0 auto;
}
.product__slider-item {
	float: left;
	list-style: none;
}
.product__slider-link {
	display: block;
	position: relative;
	width: 75px;
	height: 75px;
	overflow: hidden;
	img {
		width: 100%;
		position: absolute;
		display: block;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		margin: auto;
	}
}