.product {
		margin-bottom: 60px;
		.container {
			@include clearfix();
		}
		&__img {
			float: left;
			width:305px;
		}
}
.product__slidershow-photo {
	position: relative;
	height: 250px;
	width:305px;
	margin-bottom: 10px;
	.product__slidershow-img {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			margin: auto;
	}
}
.product__slidershow-slider {
	@include clearfix();
	position: relative;

	.bx-prev, .bx-next {
		text-decoration: none;
		display: block;
		position: absolute;
		top: 50%;
		width: 22px - 6px; //минус ширина отступа
		height: 34px;
		margin-top: -34px / 2;
		color: #ffffff;
		line-height: 34px;
	}

	.bx-prev {
		background-position: 0 0;
		left: 0;
		padding-right: 6px;
		text-align: right;
		&:after {
		border-right: 8px solid #d0e4f3;
		left: -8px;
		}
	}

	.bx-next {
		background-position: right 0;
		right: 0;
		padding-left: 6px;
		&:after {
		border-left: 8px solid #d0e4f3;
		right: -8px;
		}
	}
}

.product__slider-list {

}
.product__slider-item {
	float: left;
}
.product__slider-link {
	display: block;
	position: relative;
	width: 75px;
	height: 75px;
	overflow: hidden;
	img {
		width: 100%;
		position: absolute;
		display: block;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		margin: auto;
	}
}