.product-desc {
	margin-bottom: 60px;
	float: right;
	width: 448px;
	margin-right: 230px;
		&__title {
			font-family: "Elektra-bold";
			font-size: 25px;
			color: $main-blue;
			margin-bottom: 27px;
		}

}
.product-desc__table {
	width: 100%;
	color: $main-text;
	font-size: 14px;
	font-family: "Elektra";
	td {
		padding: 7px 10px;
		width: 188px;
	}
	tr.grey {
		background-color: $table-grey;
			}

}