.product-desc {
	margin-bottom: 60px;
	float: right;
	width: 448px;
	margin-right: 230px;
		&__title {
			font-family: "Elektra-bold";
			font-size: 25px;
			color: $main-blue;
			margin-bottom: 27px;
		}

}
.product-desc__table {
	width: 100%;
		td {
		color: $main-text;
		font-size: 14px;
		padding: 7px 10px;
		font-family: "Elektra";
		width: 188px;
	}
	tr.grey {
		background-color: $table-grey;
			}
}