/* FONTS */
@font-face {
    font-family: "Elektra";
        src: url("../fonts/Elektra Light Pro.otf");

        font-weight: 300;
        font-style: normal;
}

@font-face {
    font-family: "Elektra-bold";
        src: url("../fonts/Elektra Light Pro Bold.otf");

        font-weight: 600;
        font-style: normal;
}