/* COLORS */
$header-top-bg:					#41606d;
$header-bottom-bg:				#e7eef5;
$main-blue:						#00b9fe;
$header-menu-hover:				#613993;

$main-text:						#5c7b98;
$placeholder:					#dee8f1;
$border-input:					#dce6f0;
$table-grey:					#eef2f4;

$nav-triangle:					#e3e8f0;
$nav-grey:						#f7f7f7;
$nav-hover:						#dce6f0;

$bg-footer:						#613993;

$slider-btn:					#d0e4f3;

$container-width:				1000px;
$footer-height:					228px;



