include ../common/mixin.jade

doctype html
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

html(lang='ru-Ru')
	include ../common/head.jade
	body
		<!--[if lt IE 7]>
		<p class="browsehappy">Ваш браузер <strong>устарел</strong>. Пожалуйста<a href="http://browsehappy.com/">обновите</a> его.</p>
		<![endif]-->
		.wrapper
			.main-content
				// HEADER
				include ../common/header.jade
				+nav('navigation', ['Мобильные телефоны', 'Планшеты', 'Mp3 плееры', 'Персональные компьютеры', 'Ноутбуки', 'Apple TV', 'Аксессуары'], 1)
				// Main part
				block content
				a.btn-up(href='#') Наверх
				// footer
		include ../common/footer.jade