doctype html
html(lang='ru-Ru')
	include ../common/head.jade
	body
		<!--[if lt IE 7]>
		<p class="browsehappy">Ваш браузер <strong>устарел</strong>. Пожалуйста<a href="http://browsehappy.com/">обновите</a> его.</p>
		<![endif]-->
		.wrapper
			.main-content
				// HEADER
				include ../common/header.jade
				// Navigation
				+nav('navigation', ['Мобильные телефоны', 'Планшеты', 'Mp3 плееры', 'Персональные компьютеры', 'Ноутбуки', 'Apple TV', 'Аксессуары'], 1)
				block content
				include ../common/footer.jade