extends ../layouts/layout.jade
block content
		section.breadcrumbs
			.container
				ul.breadcrumbs__list
					each items, index in ['Главная', 'Каталог', 'iPad Air Wi-Fi + Cellular 128GB - Silver']
						li.breadcrumbs__item
							a(href="#" class='breadcrumbs__link' + ((index == 2) ? ' breadcrumbs__link--active' : ''))= items
		section.product
			.container
				.product__img
					.product__slidershow
						.product__slidershow-photo
							img.product__slidershow-img(src='../img/iphone-1.png' ,alt='slide')
						.product__slidershow-slider
							ul.product__slider-list
								- for (var i = 0; i < 5; i++)
										li.product__slider-item
											a(href="#").product__slider-link
												img(src="../img/iphone-" + i + ".png" , alt="slide")
				.product-desc
					.product-desc__title iPad Air Wi-Fi + Cellular 128GB - Silver
					table.product-desc__table
						tbody
							tr
								td Артикул
								td 42787825
							tr
								td Опция
								td включена
							tr
								td Цвет
								td серебристый
							tr
								td Размер
								td 1280*1245*90
							tr
								td Вес
								td 200 г
							tr
								td Артикул
								td 42787825
							tr
								td Опция
								td включена
							tr
								td Цвет
								td серебристый
							tr
								td Размер
								td 1280*1245*90
							tr
								td Вес
								td 200 г
		section.product-about
			.container
				.product-about__title Пара слов о магазине
				.product-about__text
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
					p Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					p Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.


