<!-- build:js js/vendor.js -->
// bower:js
script(src='/bower_components/jquery/jquery.js')
// endbower
<!-- endbuild -->

<!-- build:js js/main.js -->
script(src='js/main.js')
<!-- endbuild -->