mixin nav(className, items, activeIndex)
	nav(class=className)
		.container
			ul(class=className + "__list")
				each item, ndx in items
					li(class=className + "__item")
						a(href="#" class=className + "__link" + ((ndx == activeIndex) ? ' navigation__link--active' : ''))= item