nav.nav
	.container
		ul.nav__list
			each items in ['Мобильные телефоны', 'Планшеты', 'Mp3 плееры', 'Персональные компьютеры', 'Ноутбуки', 'Apple TV', 'Аксессуары']
				li.nav__item
					a.nav__trigger= items
