section.product
	.container
		section.product__img
			.product__slidershow
				.product__slidershow-photo
					img.product__slidershow-img(src='../img/iphone-1.png' ,alt='slide')
				.product__slidershow-slider
					ul.product__slider-list
						- for (var i = 0; i < 5; i++)
								li.product__slider-item
									a(href="#").product__slider-link
										img(src="../img/iphone-" + i + ".png" , alt="slide")

