section.product
	.container
		section.product__img
			.product__slidershow
				.product__slidershow-photo
					img.product__slidershow-img(src='../img/iphone-1.png' ,alt='slide')
				.product__slidershow-slider
					ul.product__slider-list
						li.product__slider-item
							a.product__slider-link(href="#")
								img.product__slider-img(src='../img/iphone-2.png' ,alt='slide')
						li.product__slider-item
							a.product__slider-link(href="#")
								img.product__slider-img(src='../img/iphone-3.png' ,alt='slide')
						li.product__slider-item
							a.product__slider-link(href="#")
								img.product__slider-img(src='../img/iphone-4.png' ,alt='slide')
						li.product__slider-item
							a.product__slider-link(href="#")
								img.product__slider-img(src='../img/iphone-1.png' ,alt='slide')

